<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    comisión:="24309"
    grupo:="19"
    integrantes:="Martín, Martín, Cristian, Damian" >
  <link rel="shortcut icon" href="img/icono.svg" type="image/x-icon">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  />

  <link rel="stylesheet" href="css/estilo.css">
  <title>Contacto - CANCHAS CANCHERAS</title>
</head>

<body>

<!-- HEADER -->
<header class="w100">
  <section class="contenedorHeader">
    <div id="logo">
      <a href="index.html">
        <img src="img/logo.svg" />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'somos' %}">Quienes Somos</a></li>
        <li><a href="{% url 'reservas' %}">Reservá tu cancha</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
      </ul>
      <ul>
        <li><button class="botonDos">Crear Cuenta</button></li>
        <li><button class="boton">Iniciar Sesión</button></li>
      </ul>
    </nav>
  </section>
</header>

<!-- MAIN -->
<main id="contacto">
  <article class="contenedor">
    <h2>Alta reserva de Cancha</h2>
    <form action="{% url 'contacto' %}" method="POST">

         {{alta_Reserva_Form}}

        <input type="submit" value="reservar">
    </form>    
    <!-- <form id="formularioContacto" class="w50">
      <h1>> Contactanos</h1>
      <div class="arriba">
        <input type="text" id="nombre" placeholder="Carlos Perez">
        <input type="email" id="email" placeholder="nombre@ejemplo.com">
      </div>
      <div class="abajo">
        <input type="tel" id="telefono" placeholder="+54 1234 5678">
        <input type="text" id="asunto" placeholder="Presupuesto">
      </div>
      <textarea name="mensaje" id="" cols="30" rows="10"></textarea>
      <button class="boton" type="submit">Enviar</button>
      <p id="error" style="color:#000;"></p>
    </form> -->
    <div id="masInfo" class="w50">
      <h2>+ Más información</h2>
      <p>San Martín 1234</p>
      <p>C1015ABE - CABA</p>
      <p>+54 1234 5678</p>
      <p>info@canchascancheras.com.ar</p>
      <p>¡Gracias por confiar en nosotros!</p>
      <img src="img/logo.svg" />
    </div>
  </article>
</main>
<!-- FOOTER -->
<footer>
  <div class="contenedor">
    <h2>Seguínos en las redes sociales</h2>
    <div class="redes">
      <ul>
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>     
    </div>
  </div>
  <div class="copyright">
    <p>© 2023 Canchas Cancheras</p>
    <p><a href="#terminos">Terminos y Condiciones</a> | <a href="#politicas">Políticas de Privacidad</a></p>
  </div>
</footer>

<!-- ACÁ CARGAMOS LOS JS -->
<script src="js/cositas.js"></script>

</body>
</html>