{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    comisión:="24309"
    grupo:="19"
    integrantes:="Martín, Martín, Cristian, Damian, G Briceño" >
  <link rel="shortcut icon" href="{% static 'web/img/icono.svg}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  <title>Reservas - reservas CANCHERAS</title>
</head>

<body>

<!-- HEADER -->
<header class="w100">
  <section class="contenedorHeader">
    <div id="logo">
      <a href="{% url 'index' %}">
        <img src="{% static 'img/logo.svg' %}" />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'somos' %}">Quienes Somos</a></li>
        <li><a href="{% url 'reservas' %}">Reservá tu cancha</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
      </ul>
      <ul>
        <li><button class="botonDos">Crear Cuenta</button></li>
        <li><button class="boton">Iniciar Sesión</button></li>
      </ul>
    </nav>
  </section>
</header>

<!-- MAIN -->
<main id="reservas">
  <article class="contenedor">    
    <h1>Acceso a Clientes</h1>
    <form class="w50">
      <input type="email" id="email" placeholder="nombre@ejemplo.com">
      <input type="password" id="password" placeholder="Ingresá tu clave">  
      <div id="recordarme">
        <input type="checkbox" value="recordarme">
        <label>Recordarme</label>
      </div>
      <button class="boton" type="submit">Ingresar</button>
    </form>
    <p id="ayudaForm">¿Olvidaste tu clave? Hacé click <a href="#">acá</a></p>
  </article>
</main>

<!-- FOOTER -->
<footer>
  <div class="contenedor">
    <h2>Seguínos en las redes sociales</h2>
    <div class="redes">
      <ul>
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>     
    </div>
  </div>
  <div class="copyright">
    <p>© 2023 Canchas Cancheras</p>
    <p><a href="#terminos">Terminos y Condiciones</a> | <a href="#politicas">Políticas de Privacidad</a></p>
  </div>
</footer>

<!-- ACÁ CARGAMOS LOS JS -->
<script src="js/cositas.js"></script>

</body>
</html>