{% load static %}
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta
    comisión:="24309"
    grupo:="19"
    integrantes:="Martín, Martín, Cristian, Damian," >
<link rel="shortcut icon" href="{% static 'web/static/img/icono.svg}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  
 
  
  <title>Quiénes Somos - CANCHAS CANCHERAS</title>
</head>

<body>

<!-- HEADER -->
<header class="w100">
  <section class="contenedorHeader">
    <div id="logo">
      <a href="{% url 'index' %}">
        <img src="{% static 'img/logo.svg' %}" />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'somos' %}">Quienes Somos</a></li>
        <li><a href="{% url 'reservas' %}">Reservá tu cancha</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
      </ul>
      <ul>
        <li><button class="botonDos">Crear Cuenta</button></li>
        <li><button class="boton">Iniciar Sesión</button></li>
      </ul>
    </nav>
  </section>
</header>

<!-- MAIN -->
<main id="somos">
  <section class="contenedor">
    <img  src="{% static 'img/somos.jpg' %}" alt="imagen-pelota">
    <article>
      <h1>Quiénes somos</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec
        mi sed odio tristique aliquet. Integer sed lorem eu enim feugiat tincidunt.
        Fusce scelerisque nunc eu orci faucibus suscipit. Pellentesque habitant morbi
        tristique senectus et netus et malesuada.</p>
      <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec
        mi sed odio tristique aliquet. Integer sed lorem eu enim feugiat tincidunt.
        Fusce scelerisque nunc eu orci faucibus suscipit. Pellentesque habitant morbi
        tristique senectus et netus et malesuada.
      <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec
        mi sed odio tristique aliquet. Integer sed lorem eu enim feugiat tincidunt.
        Fusce scelerisque nunc eu orci faucibus suscipit. Pellentesque habitant morbi
        tristique senectus et netus et malesuada.
      <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec
        mi sed odio tristique aliquet. Integer sed lorem eu enim feugiat tincidunt.
        Fusce scelerisque nunc eu orci faucibus suscipit. Pellentesque habitant morbi
        tristique senectus et netus et malesuada.
      <br><br>
      <p>
        En <strong>Canchas Cancheras</strong>, estamos muy contentos de disfrutar cada
        partido que se arma en nuestras canchas. Por eso queremos decirte...
      </p> 
      <p>¡Gracias por confiar en nosotros!</p>
    </article>


  </section>
</main>

<!-- FOOTER -->
<footer>
  <div class="contenedor">
    <h2>Seguínos en las redes sociales</h2>
    <div class="redes">
      <ul>
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>     
    </div>
  </div>
  <div class="copyright">
    <p>© 2023 Canchas Cancheras</p>
    <p><a href="#terminos">Terminos y Condiciones</a> | <a href="#politicas">Políticas de Privacidad</a></p>
  </div>
</footer>

<!-- ACÁ CARGAMOS LOS JS -->
<script src="js/cositas.js"></script>
<script src="{% static 'web/static/js/cositas.js' %}"></script>

</body>
</html>